.pc-agentInstall {
  padding: 24px;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
}
.pc-agentInstall .header {
  height: 24px;
  overflow: hidden;
  margin-bottom: 20px;
}
.pc-agentInstall .header .icon {
  width: 4px;
  height: 21px;
  margin-top: 1px;
  margin-right: 8px;
  background-color: #2761e7;
  display: inline-block;
}
.pc-agentInstall .header .headerName {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}
.pc-agentInstall .agentInstall-function {
  margin-left: 30px;
}
.pc-agentInstall .agentInstall-function .function-list {
  width: 100%;
  height: 150px;
  display: flex;
}
.pc-agentInstall .agentInstall-function .function-list .list-item {
  display: flex;
  flex-flow: column;
  margin-right: 70px;
  width: 120px;
  height: 120px;
  border: 1px solid #4F4F4F;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
.pc-agentInstall .agentInstall-function .function-list .list-item .item-expert .bgcolor {
  width: 33px;
  height: 33px;
}
.pc-agentInstall .agentInstall-function .function-list .list-item .item-expert .bgcolor .bgimage {
  width: 33px;
  height: 33px;
}
.pc-agentInstall .agentInstall-function .function-list .list-item .item-text {
  margin-top: 10px;
}
